.git/
.github/
.idea/
.vscode/

**/__pycache__/
**/.cache/
**/.pytest_cache/
**/.hydra/
**/.gradio/
*.log

hugging_cache/
logs/
outputs/
results/
vectors/
data/stats/

my_exp/models/
my_exp/data/wiki_20220301_simple/
my_exp/stats/
my_exp/results/
my_exp/data_processing/PubTator/
my_exp_2/outputs/

demo/
tutorial-notebooks/
tutorial.pdf
.DS_Store
.env
.venv/
